<header>
    <h1>SudokuGame</h1>
</header>

<main>
    <section class="board">
        <article *ngFor="let quadrant of Board.quadrants; index as iquadrant ">
            <section *ngFor="let row of quadrant.rows; index as irow">
                <label *ngFor="let column of row.columns; index as icolumn">
                    <input  
                        [id]="iquadrant + '-' + irow + '-'+ icolumn"
                        type="text" 
                        [value]="column.value|| ''" 
                        [ngStyle]="{'color': column.color}"
                        [disabled]="column.color==='darkgreen'? true: false"
                        maxlength="1"
                        (change)="onChange(iquadrant, irow, icolumn, $event)">
                </label>
            </section>
        </article>
    </section>
</main>